@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

#tinymce.mce-content-body {
  font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#tinymce.mce-content-body p {
  margin-top: 2px;
  margin-bottom: 0;
}

#tinymce.mce-content-body p:first-child {
  margin-top: 0;
}

#tinymce.mce-content-body li {
  margin-bottom: 2px;
}

.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
  color: lightgray;
  font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI';
}
